.uiBlk{
    position: absolute;
}
.navBlock{
    height:150px;
    display:flex;
}
.title{
    color:#2f1463;
    margin-top:20px;
    font-family:Rubik Scribble;
    font-size:1.2cm;
    letter-spacing: 4px;
    margin-left:30px;
    font-weight:900;
}

.img1{
    height:85px;
    width:70px;
    margin-top:3px;
    position: absolute;
    margin-left:15px;
}

.l1Blk{
    display: flex;
}